/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
    background-color: #eee;
    color: #333;
    font-family: "Montserrat", sans-serif;
}

.lista-sm {
    display: block;
}

#content header {
    height: 120px;
    padding: 10px 20px;
    background-color: #ddd;
    border-radius: 1em;
}

#secundario {
    width: 40%;
    float: left;
    padding: 5px;
}

#content aside {
    width: 20%;
    float: left;
    padding: 5px;
}

#content footer {
    clear: both;
    width: 100%;
    background-color: #ddd;
    text-align: center;
    height: 100px;
    padding: 25px;
}

@media screen and (max-width: 820px) {
    #content {
        padding: 0;
        max-width: 100%;
    }
    #content header {
        padding: 0;
        border-radius: 0;
    }
    #principal {
        padding: 3%;
        width: 45%;
    }
    #secundario {
        float: right;
        padding: 3%;
        width: 45%;
    }
    #content aside {
        clear: both;
        padding: 5%;
        width: 100%;
    }
    #content footer {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    #content {
        width: auto;
    }
    #content header {
        height: auto;
        padding: 0;
    }
    #principal {
        width: auto;
        float: none;
        margin: 0px;
    }
    #secundario {
        width: auto;
        float: none;
        margin: 0px;
    }
    #content aside {
        padding: 0;
        width: auto;
    }
    #content footer {
        width: auto;
    }
    .lista-sm {
        display: none;
    }
    #navbar li {
        float: none;
        display: block;
    }
    #navbar li a {
        padding: 5px;
        text-align: left;
        width: 100%;
    }
    .myicono {
        display: block;
    }
}